.jumbotron {
	padding: 2rem 1rem;
	/* margin-bottom: 2rem; */
	border-radius: 0.3rem;
}

h1 {
	color: black;
	text-align: center;
}

body {
	height: 100%;
	background: linear-gradient(-60deg, white, rgb(0, 174, 255) 80%) fixed
		no-repeat;
}

.card1 {
	opacity: 100%;
	border: 2px;
	flex-wrap: wrap;
	align-content: center;
}

.invalid-feedback {
	font-size: small;
}
